<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand mx-auto" href="#">E-Tick Ticaret</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Start Atribute Navigation -->
  <div class="attr-nav">
      <ul>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                  <img src="assets/icons/Shopping Cart.png" class="cart-icon" alt="cart-icon" width="30px">
                  <span class="lnr lnr-cart"></span>
                  <span class="badge badge-bg-1">{{cartItems.length}}</span>
              </a>
              <ul class="dropdown-menu cart-list s-cate">
                  <li *ngFor = "let item of cartItems"class="single-cart-list">
                      <a href="/items/{{item._id}}" class="photo"><img src="{{item.image}}" class="cart-thumb" alt="image" /></a>
                      <div class="cart-list-txt">
                        <h6><a href="/items/{{item._id}}"> {{item.name}}</a></h6>
                        <p><span class="price">{{item.price}}</span></p>
                      </div><!--/.cart-list-txt-->
                      <div class="cart-close">
                        <span class="lnr lnr-cross"></span>
                      </div><!--/.cart-close-->
                  </li><!--/.single-cart-list -->
                <li class="total">
                    <span>Total: {{totalPrice}}</span>
                    <button class="btn-cart pull-right" onclick="window.location.href='#'">Satın Al!</button>
                </li>
              </ul>
          </li><!--/.dropdown-->
      </ul>
  </div><!--/.attr-nav-->
  <!-- End Atribute Navigation -->

</nav>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <nav class="nav nav-pills mx-auto">

        <a class="nav-item nav-link active" href="#">Home Page <span class="sr-only">(current)</span></a>
            <li *ngFor="let category of categories" class = "bottom-button-row-items">
                <a class="nav-item nav-link" href="{{category.url_name}}/1">{{category.name}}</a>
            </li>
      </nav>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Ürün aramak için yazınız" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ürün Ara</button>
      </form>
  </div>
</nav>
