
/*.attr-nav*/
.attr-nav {
    position: absolute;
    right: 100px;


}

@media only screen and (min-width: 1024px) {
    .nav-pills {
        padding-left: 250px;
    }
  }

.nav-link{
  text-align: center;
}
.attr-nav > ul > li > a {
    color: #616060;
    padding: 44px 15px;
    font-size: 18px;
    font-weight: 500;
}
.attr-nav > ul > li > a:hover{color: #e99c2e;}
.wrap-sticky nav.navbar.bootsnav.sticked .attr-nav > ul > li > a {padding:28px 15px;}
/*.attr-nav*/

/*badge*/
.badge {
    background-color: #e99c2e;
    border: 2px solid #e99c2e;
}
.attr-nav > ul > li > a span.badge {
    margin-top: -25px;
    width: 20px;
    height: 20px;
    padding-top: 3px;
}
/*.badge*/

/*.cart-list*/
ul.dropdown-menu.cart-list {
    height: 232px;
    overflow-y: scroll;
    border-radius: 3px;
}
ul.cart-list > li img {
    width: 50px;
    height: 50px;
    border:transparent;
}
.s-cate::-webkit-scrollbar {width:5px;}
.s-cate::-webkit-scrollbar-thumb {background-color: #e99c2e;}

.single-cart-list {
    position: relative;
    display: flex;
}
ul.cart-list > li {
    border-bottom: solid 1px #ebebeb;
    padding: 20px !important;
}
ul.cart-list > li:last-child{border-bottom: 0;}
.attr-nav ul.cart-list > li > a:hover{border-left:2px solid transparent!important;}
.dropdown-menu.cart-list h6 a {
    color: #43465d;
    font-size: 12px;
    line-height: 1.3;
}
.cart-list-txt p {
    font-size: 12px;
    font-weight: 300;
    line-height: 1.8;
}
ul.cart-list > li .price {font-weight: 300;}
.cart-close {
    position: absolute;
    top: 10px;
    right: 14px;
    cursor: pointer;
}
ul.cart-list > li.total > span {
    padding-top: 0px;
    position: relative;
    top: 4px;
    color: #43465d;
    font-size: 14px;
    font-weight: 500;
}

ul.cart-list > li.total {
    background-color: #fff;
    padding-bottom:20px !important;
}
.btn-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e99c2e;
    border: 1px solid #e99c2e;
    width: 80px;
    height: 30px;
    white-space: nowrap;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    text-transform: capitalize;
    border-radius: 3px;
}
/*.cart-list*/

/*.packages-price */
.packages-price p{
    position: relative;
    color: #616060;
    font-size: 16px;
    font-weight: 500;
}
.packages-price del,.packages-price span {
    color: #bbb9b9;
    font-size: 16px;
    font-weight: 500;
}
.packages-price del{margin-left: 10px;}
/*.packages-price */

.attr-nav{
    display: inline-block;
    margin-left: 13px;
    margin-right: -15px;
}

.attr-nav > ul{
    padding: 0;
    margin: 0 0 -7px 0;
    list-style: none;
    display: inline-block;
}

.attr-nav > ul > li{
    float: left;
    display: block;
}

.attr-nav > ul > li > a{
    color: #6f6f6f;
    display: block;
    padding: 28px 15px;
    position: relative;
}

.attr-nav > ul > li > a span.badge{
    position: absolute;
    top: 50%;
    margin-top: -15px;
    right: 5px;
    font-size: 10px;
    padding: 0;
    width: 15px;
    height: 15px;
    padding-top: 2px;
}

.attr-nav > ul > li.dropdown ul.dropdown-menu{
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    -o-border-radius: 0px;
    border-radius: 0px;
    -moz-box-shadow: 0px 0px 0px;
    -webkit-box-shadow: 0px 0px 0px;
    -o-box-shadow: 0px 0px 0px;
    box-shadow: 0px 0px 0px;
    border: solid 1px #e0e0e0;
}

ul.cart-list{
    padding: 0 !important;
    width: 250px !important;
}

ul.cart-list > li{
    position: relative;
    border-bottom: solid 1px #efefef;
    padding: 15px 15px 23px 15px !important;
}

ul.cart-list > li > a.photo{
    padding: 0 !important;
    margin-right: 15px;
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    left: 15px;
    top: 15px;
}

/*ul.cart-list > li img{
    width: 50px;
    height: 50px;
    border: solid 1px #efefef;
}*/

ul.cart-list > li > h6{
    margin: 0;
}

ul.cart-list > li > h6 > a.photo{
    padding: 0 !important;
    display: block;
}

ul.cart-list > li > p{
    margin-bottom: 0;
}

ul.cart-list > li.total{
    background-color: #f5f5f5;
    padding-bottom: 15px !important;
}

ul.cart-list > li.total > .btn{
    display: inline-block;
    border-bottom: solid 1px #efefef;
}

ul.cart-list > li .price{
    font-weight: bold;
}

ul.cart-list > li.total > span{
    padding-top: 8px;
}

/* Atribute Navigation
=================================*/
.attr-nav > ul > li.dropdown ul.dropdown-menu{
    margin-top: 0;
    margin-left: 55px;
    width: 250px;
    left: -250px;
}
ul{
    list-style-type: none;
  }