<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand mx-auto" href="#">E-Tick Ticaret</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <!-- Start Atribute Navigation -->
  <div class="attr-nav">
      <ul>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" >
                    <img src="assets/icons/Shopping Cart.png" class="cart-icon" alt="cart-icon" width="30px">
                  <span class="lnr lnr-cart"></span>
    <span class="badge badge-bg-1">2</span>
              </a>
              <ul class="dropdown-menu cart-list s-cate">
                  <li class="single-cart-list">
                      <a href="#" class="photo"><img src="assets/icons/Shopping Cart.png" class="cart-thumb" alt="image" /></a>
                      <div class="cart-list-txt">
                        <h6><a href="#">arm <br> chair</a></h6>
                        <p>1 x - <span class="price">$180.00</span></p>
                      </div><!--/.cart-list-txt-->
                      <div class="cart-close">
                        <span class="lnr lnr-cross"></span>
                      </div><!--/.cart-close-->
                  </li><!--/.single-cart-list -->
                  <li class="single-cart-list">
                      <a href="#" class="photo"><img src="assets/icons/Shopping Cart.png" class="cart-thumb" alt="image" /></a>
                      <div class="cart-list-txt">
                        <h6><a href="#">single <br> armchair</a></h6>
                        <p>1 x - <span class="price">$180.00</span></p>
                      </div><!--/.cart-list-txt-->
                      <div class="cart-close">
                        <span class="lnr lnr-cross"></span>
                      </div><!--/.cart-close-->
                  </li><!--/.single-cart-list -->
                  <li class="single-cart-list">
                      <a href="#" class="photo"><img src="assets/icons/Shopping Cart.png" class="cart-thumb" alt="image" /></a>
                      <div class="cart-list-txt">
                        <h6><a href="#">wooden arn <br> chair</a></h6>
                        <p>1 x - <span class="price">$180.00</span></p>
                      </div><!--/.cart-list-txt-->
                      <div class="cart-close">
                        <span class="lnr lnr-cross"></span>
                      </div><!--/.cart-close-->
                  </li><!--/.single-cart-list -->
                  <li class="total">
                      <span>Total: $0.00</span>
                      <button class="btn-cart pull-right" onclick="window.location.href='#'">Satın Al!</button>
                  </li>
              </ul>
          </li><!--/.dropdown-->
      </ul>
  </div><!--/.attr-nav-->
  <!-- End Atribute Navigation -->

</nav>
<nav class="navbar navbar-expand-lg navbar-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <nav class="nav nav-pills mx-auto">

        <a class="nav-item nav-link active" href="#">Anasayfa <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="shopping-chart">Sepetim</a>
        <a class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Kategoriler</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="game-product/1">Oyun Yazılımları</a>
              <a class="dropdown-item" href="erp-product">ERP Yazılımları</a>
              <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="special-request-product">Size Özel Yazılımlar</a>
              </div>
        </a>
        <a class="nav-item nav-link" href='#' >Eklenecek</a>

      </nav>
      <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Ürün aramak için yazınız" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ürün Ara</button>
      </form>
  </div>

</nav>
