<app-navbar></app-navbar>
<div class="row">
    <div class="col">
      <div class="card">
        <img class="card-image" src={{item.image}} alt="Item Image">
        <div class="card-body">
          <h3 class="card-title">{{item.name}}</h3>
          <h4>{{item.price}}</h4>
          <p class="card-text">{{item.description}}</p>
          <button class = "btn btn-outline-primary" (click)="addItemToCart(item)">Add to Cart </button>
        </div>
      </div>
  
      <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Product Publisher
        </div>
        <div class="card-body">
          <p>{{item.publisher}}</p>
        </div>
      </div>
  
    </div>
  
  </div>