.page-heading{
    height: 100px;
}

.head-text{
    text-align: center;
    margin-top: 30px;
    color : #24a0ed;
}
.header{
    text-align: center;
}
.navbar-brand{
    color: #5cb85c;
    font-size: 30px;
    margin-top: 30px;
}

.login-container{
    display: block;
    background-color:  whitesmoke;
    height: 500px;
    margin-top: 50px;
    position: relative;
    text-align: center;
    border-style: ridge;
}
.login-box{
    border-style: ridge;
    display: block;
    background-color: white;
    position: relative;
    align-items: center;
    display: inline-block;
    width: 25%;
    top : 50px;
    height: 400px;
    
}

.form-control{
    display: inline-block;
    text-align: center;
    width: 50%;
}

.row{
    margin-top: 50px;
}

.text-center{
    margin-top: 10px;
}
.page-heading > h2.head-text{

    position: relative;
    text-align: center;
    top: 25px;

}

p{
    margin-top: 10px;
}

.row{
    margin-top: 20px;
    text-align: center;
}