<div class="container">
	<div class="section-header">
		<h2>New Arrivals</h2>
	</div><!--/.section-header-->
		<div class="new-arrivals-content">
			<ul class="row">
				<li *ngFor = "let newItem of newItems">
					<div class="col">
						<div class="single-new-arrival">
							<div class="single-new-arrival-bg">
								<img src="{{newItem.image}}" alt="new-arrivals images">
								<div class="single-new-arrival-bg-overlay"></div>
									<div class="sale bg-1">
										<p>sale</p>
									</div>
									<div class="new-arrival-cart">
										<p>
											<span class="lnr lnr-cart"></span>
											<button (click)="addItemToCart(newItem)">add <span>to </span> cart</button>
										</p>
										<p class="arrival-review pull-right">
											<span class="lnr lnr-heart"></span>
											<span class="lnr lnr-frame-expand"></span>
										</p>
									</div>
							</div>
							<h4><a href="/items/{{newItem._id}}">{{newItem.name}}</a></h4>
							<p class="arrival-product-price">{{newItem.price}}</p>
						</div>
					</div>
				</li>
			</ul>
	</div>
</div>